# This is a basic workflow to help you get started with Actions

      - name: Create zip
    on:
      push:
        branches: [ "main" ]
      pull_request:
        branches: [ "main" ]
    
    permissions:
      contents: read
    
    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
      - uses: actions/checkout@master
          with:
            persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
            fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - uses: vimtor/action-zip@v1
          with:
            files: test.txt,
            dest: archivePierre.zip
      - name: Commit & Push changes
          uses: actions-js/push@master
          with:
            github_token: ${{ secrets.TOKEN_PETER }}
